<div class="flex max-w-fit justify-between items-start content-end">
  <div class="relative">
    <emoji-mart
      *ngIf="setPicker"
      class="absolute centered"
      title="Pick your emoji…"
      set="google"
      (emojiSelect)="onEmojiClick($event)"
    ></emoji-mart>
  </div>
  <button
    class="mx-1 px-3 lg:px-6 py-2.5 lg:py-4 rounded bg-cyan-500 hover:bg-cyan-400 hover:shadow-md hover:shadow-cyan-400/80 active:bg-cyan-400 active:shadow-md active:shadow-cyan-400/80"
    type="button"
    (click)="emojiShow()"
  >
    😊
  </button>
</div>
