.logout {
  max-width: 2rem;
  border-radius: 50%;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: unset;
}
.home-head {
  grid-column: 1;
  max-height: 8vh;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.home-chat {
  grid-column: 1;
}
.home-users {
  display: none;
}

@media screen and (min-width: 800px) {
  .home-container {
    max-width: 80%;
    max-height: 80%;
    grid-template-columns: 1fr 4fr;

    grid-template-rows: 1fr 3fr 2fr;
  }
  .home-head {
    grid-column: 1/3;
  }
  .home-chat {
    grid-column: 2/3;
  }
  .home-users {
    display: inline;
    grid-column: 1/2;
  }
}
